DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_GITHUB_URL="https://github.com/arthurnjouonang"
NEXT_PUBLIC_LINKEDIN_URL="https://www.linkedin.com/in/arthur-njouonang-278b89307"
NEXT_PUBLIC_EMAIL="arthurnjouonang5@gmail.com"
NEXT_PUBLIC_WHATSAPP_PHONE=""
NEXT_PUBLIC_GITHUB_USERNAME="arthurnjouonang"

RESEND_API_KEY=""
RESEND_FROM="Portfolio Arthur <onboarding@resend.dev>"
CONTACT_TO_EMAIL="arthurnjouonang5@gmail.com"
OPENAI_API_KEY=""
